// Place all the styles related to the admin/Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.control-bar{
	border-bottom: 1px dotted #ddd;
	height: 45px;
	line-height: 45px;
}