// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-related-box,
.article-help-box,
.tag-list-box,
.cate-list-box{
	.title{
		font-size: 16px;
		border-bottom: 2px solid #ddd;
		margin-bottom: 4px;
	}
	li{
		height:25px;
		line-height: 25px;
	}
}

.tag-list-box{
	margin-top: 25px;
}





.article-list-box{

	.control-bar{
		line-height:45px;
		height:45px;;
		margin-bottom: 10px;
		border-bottom: 2px solid #222;
		.list-title{
			font-size: 18px;
		}
	};
	
	.article-list{

		.article-item{
			border-bottom: 1px solid #e1e1e1;
			margin-bottom: 15px;
			padding-bottom: 5px;
			.title{
				font-size:16px;
			};
			.info{
				text-align: right;
				color: #888;
			};
		};

	}

}

.article-show-box{

	.title{
		height: 45px;
		line-height: 45px;
		font-size: 24px;
		border-bottom: 1px dashed #e1e1e1;
	}
	.info{
		text-align: right;
		font-size: 12px;
		color: #aaa;
		line-height: 25px;
		height: 25px;
	}
	article{

	}

	.tag-list{
		margin-top: 10px;
		height:25px;
		line-height: 25px;
		ul.tags{
			list-style: none;
			margin: 0px;
			padding: 0px;
			li{
				padding: 0px;
				margin-right: 5px;
				float:left;
				a{
					color: #fff;
				}
			}
		}
	}
}


.comments-box{
	margin-top: 20px;
	.comment-title{
		color: #666;
		border-bottom: 3px double #999;
	}

	.comment-item{
		margin-top: 15px;
		border-bottom: 1px solid #ddd;
		padding-bottom: 5px;
		.comment-info{
			color: #999;
			font-size: 10px;
		}
		.comment-content{
			margin-top: 5px;
			padding-left: 15px;
		}
		.comment-control{
			height:15px;
			text-align: right;
			line-height: 15px;
			ul{
				float:right;
				li{ margin-left: 10px; }
			}
		}
	}

	.no-comment{
		text-align: center;
		color: #666;
	}

}
	
.new-comment{
	height: 200px;
	margin-top: 20px;
	.form{
		.text-box{
			width: 80%;
			float:left;
			textarea{
				height: 80px;
			}
		}
		
		.button{
			float:right;
			height: 80px;
			line-height: 80px;
		}
	}

	.help{
		margin-top: 15px;
		.help-list{
			padding-left: 15px;
			color: #888;
		}
	}
	.not-signed-in{
		text-align: center;
		color: #888;
	}

}


.edit-comment{
	.form{
		.text-box{
			textarea{
				height: 120px;
			}
		}
		.button{
			height:80px;
			line-height: 80px;
		}
	}
	.help{
		margin-top: 15px;
		.help-list{
			padding-left: 15px;
			color: #888;
		}
	}

}


