<% provide(:title, "更新分组 | #{@category.name}") %>
<div class="row">
	<div class="col-md-12">
		<div class=" normal-box">
			<div class="control-bar">
				修改分类
			</div>
			<%= render "form" %>


		</div>
	</div>
</div>