<% provide(:title, "新分类") %>
<div class="row">
	<div class="col-md-12">
		<div class=" normal-box">
			<div class="control-bar">
				新增分类
			</div>
			
			<%= render "form" %>


		</div>
	</div>
</div>